
.main {

  background-color: $bg-color;

  &__wrapper {
    padding-top: 230px;
    padding-bottom: 149px;
    display: flex;
  }

  &__content {
    margin-top: 58px;
    margin-right: 24px;

    &__text {
      margin-top: 18px;
      color: $gray;
      font-size: 1rem;
      font-family: 'Poppins-Regular';
      line-height: 24px;
    }

    & h1 {
      margin: 0;
      font-family: 'Poppins-Bold';
      font-size: 3rem;
      line-height: 73px;
      color: $brown;
    }

    
  }
  
}